* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    margin: 8px 5px;
    padding: 2px;
}

header {
    text-align: center;
    margin: 10px;
}

h1 {
    margin-bottom: 5px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 30px;
    padding: 10px;
    background-color: rgb(217, 215, 215);
    flex-wrap: wrap;
    gap: 10px;
}

p {
    padding: 5px 0px;
    margin: 5px auto;
}

footer {
    text-align: center;
}

button {
    width: 100%;
    max-width: 400px;
    height: 30px;
}

@media (max-width: 600px) {
    main {
        gap: 15px;
        margin: 10px;
        padding: 10px;
    }

    body {
        font-size: 0.9rem;
    }
}