* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 5px;
}

.cookie-popup {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-popup button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.cookie-popup button:hover {
    background-color: #ddd;
}