* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(237, 243, 217);
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

header {
    display: flex;
    background-color: rgb(179, 231, 186);
    position: sticky;
    top: 0;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 10px;
}

header h2 {
    margin: 5px;
}

#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap ;
}

#navigation li {
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    border: rgb(197, 199, 85) solid 2px;
    background-color: rgb(238, 237, 163);
    border-radius: 8px;
}

#navigation li:active {
    transform: translateY(-1.5px);
}

main {
    margin: 10px;
    font-size: 18px;
}

#home {
    margin: 10px 0;
}

#home h2 {
    margin: 8px 0px;
}

#home p {
    border-bottom: 2px solid gray;
    padding-bottom: 8px;
}

#projects {
    margin: 10px 0px;
}

#projects h2 {
    margin: 8px 0;
}

#projects li {
    list-style: lower-alpha ;
}

a {
    text-decoration: none;
    color: rgb(16, 141, 23);
}

#projects a:hover {
    color: rgb(255, 145, 0);
}

#projects a:active {
    color: rgb(230, 209, 171);
}

#projects ul {
    padding-bottom: 8px;
    border-bottom: 2px solid gray;
}

#articles {
    margin: 10px 0px;
}

#articles h2 {
    margin: 8px 0;
}

#articles p {
    margin: 8px 0;
}

#articles a:hover {
    color: rgb(255, 145, 0);
}

#articles a:active {
    color: rgb(230, 209, 171);
}

#articles ul {
    padding-bottom: 8px;
    border-bottom: 2px solid gray;
}

#contact {
    margin: 10px 0;
}

#contact h2 {
    margin: 8px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 8px 0;
}

form input {
    width: 100%;
    max-width: 400px;
    height: 20px;
    border: 1px solid gray;
}

form fieldset {
    margin: 8px -15px; 
}

form textarea {
    width: 100%;
    max-width: 600px;
    height: 80px;
    border: 1px solid gray;
}

button {
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    background-color: rgb(233, 163, 84);
    font-size: 20px;
}

footer {
    text-align: center;;
}

section {
    max-width: 900px;
    margin: auto;
}


@media (max-width: 600px) {
    #navigation {
        flex-direction: column;
        width: 100%;
    }

    #navigation li {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    main {
        margin: 20px 80px;
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    button {
        width: 100%;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}
