* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 5px;
}

.date-container {
    width: 100%;
    max-width: 250px;
}

input {
    width: 100%;
    max-width: 250px;
    border: 1px solid black;
    margin: 5px 0;
    border-radius: 5px;
    padding: 2px;
}

.full-calendar {
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
}

#full-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

#month-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#month-day .day, #month-day .empty {
    padding: 6px;
    text-align: center;
}

#month-day .day:hover {
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
}

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 5px;
    font-weight: bold;
    border-bottom: 2px solid black;
    align-items: center;
    text-align: center;
}